<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf8"/>
<script type="text/javascript" src="http://d3js.org/d3.v2.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<style type="text/css">
body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    display: inline;
}

div#controls {
    position:absolute;
    z-index:10;
}

div#chart {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

g path.bounds {
    stroke-linecap: round;
    stroke: #000;
    fill: #fff;
    stroke-width: 2px;
}

g path.routes {
    stroke: #000;
    stroke-width: 0.1px;
    fill: none;
    stroke-opacity: 0.1;
}
</style>
</head>
<body>
<div id="controls">
<h1>Hubway Challenge Map</h1>
</div>
<div id="chart"></div>
<script type="text/javascript">
var h = document.body.clientHeight,
    w = document.body.clientWidth,
    margin = {top: 60, right: 25, bottom: 25, left: 25},
    width = w - margin.left - margin.right,
    height = h - margin.top - margin.bottom,
    zoom = d3.behavior.zoom(),
    interval = null,
    pgsize = 100;

var vis = d3.select('#chart')
        .append('svg')
        .attr('width', w)
        .attr('height', h)
        .attr('pointer-events', 'all')
        .append('g')
        .call(zoom.on('zoom', redraw))
        .append('g');
        
function map() {
    var proj = null;
    var bounds = function(json) {
        var data = [{
            type:'Feature',
            geometry:{
                type:'LineString',
                coordinates:[
                    [json.bounds[0], json.bounds[1]],
                    [json.bounds[0], json.bounds[3]],
                    [json.bounds[2], json.bounds[3]],
                    [json.bounds[2], json.bounds[1]],
                    [json.bounds[0], json.bounds[1]]
                ]
            }
        }];
        
        var scale = (width > height) ? 
            (height / (json.bounds[3] - json.bounds[1])) : 
            (width / (json.bounds[2] - json.bounds[0]));
        var xoffset = (width > height) ?
            (((width / 2) / scale) - (json.bounds[2] - json.bounds[0])/2) :
            (margin.left / scale);
        var yoffset = (height > width) ?
            (((height / 2) / scale) - (json.bounds[3] - json.bounds[1])/2) :
            (margin.top / scale);
        proj = function (coordinates) {
            return [
                (xoffset + coordinates[0] - json.bounds[0]) * scale,
                (yoffset + coordinates[1] - json.bounds[1]) * scale
            ];
        };
                
        vis.selectAll('path.bounds')
            .data(data)
            .enter()
            .append('path')
            .attr('class', 'bounds')
            .attr('d', d3.geo.path().projection(proj));
        
        getRoutes(0);
    };
    
    var getRoutes = function(x) {
        var routes = function(json) {
            if (json) {
                vis.selectAll('path.routes')
                    .data(json.features, function(d) { return d.id; } )
                    .enter()
                    .append('path')
                    .attr('class', 'routes')
                    .attr('d', d3.geo.path().projection(proj));
                    
                setTimeout(function() {
                        getRoutes(x + pgsize);
                    }, 10);
            }
        };
        
        d3.json('routes/?offset=' + x + '&limit=' + pgsize, routes);
    };
    
    d3.json('bounds/', bounds);
};

function redraw() {
    vis.attr('transform', 'translate(' + d3.event.translate + ')scale(' + d3.event.scale + ')');
};

map();
</script>
</body>
</html>
