<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf8"/>
<script type="text/javascript" src="http://d3js.org/d3.v2.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<style type="text/css">
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    margin: 8px;
    display: inline;
}

div#controls {
    position:absolute;
    z-index:10;
}

div#chart {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div#chart {
    z-index: 9;
}

canvas#base {
    z-index: 10;
}

g path.bounds {
    stroke-linecap: round;
    stroke: #999;
    fill: #fff;
    stroke-width: 0.5px;
}

g path.routes {
    stroke: #000;
    stroke-width: 0.1px;
    fill: none;
    stroke-opacity: 0.1;
}

img.frame {
    position:absolute;
    z-index:11;
}
</style>
</head>
<body>
<div id="controls">
<h1>Hubway Challenge Map</h1><span id="frames"></span>
<button id="prev">&laquo;</button>
<button id="next">&raquo;</button>
<button id="open">New Win</button>
<button id="all">All</button>
<button id="none">None</button>
</div>
<canvas id="base"></canvas>
<div id="chart"></div>
<script type="text/javascript">
var h = document.body.clientHeight,
    w = document.body.clientWidth,
    margin = {top: 60, right: 25, bottom: 25, left: 25},
    width = w - margin.left - margin.right,
    height = h - margin.top - margin.bottom,
    zoom = d3.behavior.zoom(),
    interval = null,
    pgsize = 100,
    canvas = document.getElementById('base'),
    ctx = canvas.getContext('2d'),
    proj = null,
    scale = 0,
    boff = 0.1,
    frame = -1;

canvas.width = width;
canvas.height = height;
canvas.style.marginTop = margin.top;
canvas.style.marginLeft = margin.left;
canvas.style.position = 'absolute';
ctx.strokeStyle = 'rgba(0,0,0,0.01)';

var vis = d3.select('#chart')
        .append('svg')
        .attr('width', w)
        .attr('height', h)
        .attr('pointer-events', 'all')
        .append('g')
        .call(zoom.on('zoom', redraw))
        .append('g');
        
function map() {
    var bounds = function(json) {
        json.bounds[0] += boff;
        json.bounds[1] += boff;
        json.bounds[2] -= boff;
        json.bounds[3] -= boff;
        var data = [{
            type:'Feature',
            geometry:{
                type:'LineString',
                coordinates:[
                    [json.bounds[0], json.bounds[1]],
                    [json.bounds[0], json.bounds[3]],
                    [json.bounds[2], json.bounds[3]],
                    [json.bounds[2], json.bounds[1]],
                    [json.bounds[0], json.bounds[1]]
                ]
            }
        }];
        
        scale = (width > height) ? 
            (height / (json.bounds[3] - json.bounds[1])) : 
            (width / (json.bounds[2] - json.bounds[0]));
        var xoffset = (width > height) ?
            (((width / 2) / scale) - (json.bounds[2] - json.bounds[0])/2) :
            (margin.left / scale);
        var yoffset = (height > width) ?
            (((height / 2) / scale) - (json.bounds[3] - json.bounds[1])/2) :
            (margin.top / scale);
        proj = function (coordinates) {
            return [
                (xoffset + coordinates[0] - json.bounds[0]) * scale,
                (yoffset + coordinates[1] - json.bounds[1]) * scale
            ];
        };
                
        vis.selectAll('path.bounds')
            .data(data)
            .enter()
            .append('path')
            .attr('class', 'bounds')
            .attr('d', d3.geo.path().projection(proj));
        
        getRoutes(100);
    };
    
    var getRoutes = function(x) {
        var routes = function(json) {
            if (json) {
                json.features.map(function(d) {
                    ctx.beginPath();
                    d.geometry.coordinates.map(drawPath);
                    ctx.stroke();
                });

                if (x % (pgsize * 10) == 0) {
                    //make an image
                    var img = $('<img/>');
                    img.attr('id', x);
                    img.attr('src', canvas.toDataURL());
                    img.addClass('frame');
                    img.css('margin', margin.top + 'px ' + margin.left + 'px');
                    $(document.body).append(img);

                    $('#frames').text((x / (pgsize * 10)) + ' frames');

                    ctx.clearRect(0,0,width,height);
                }
                    
                setTimeout(function() {
                        getRoutes(x + pgsize);
                    }, 10);
            }
        };
        
        d3.json('routes/?offset=' + x + '&scale=' + (0.5/scale), routes);
    };
    
    d3.json('bounds/', bounds);
};

function drawPath(d,i) {
    if (i == 0)
        ctx.moveTo.apply(ctx, proj(d));
    else
        ctx.lineTo.apply(ctx, proj(d));
};

function redraw() {
    vis.attr('transform', 'translate(' + d3.event.translate + ')scale(' + d3.event.scale + ')');
};

map();

$('#none').on('click', function() {
    $('img').hide();
    frame = 0;
});
$('#all').on('click', function() {
    $('img').show();
    frame = 0;
});
$('#prev').on('click', function() {
    var i = $('img');
    i.hide();
    if (frame == 0)
        frame = $('img').length;
    $(i[--frame]).show();
});
$('#next').on('click', function() {
    var i = $('img');
    i.hide();
    if (frame == $('img').length - 1)
        frame = -1;
    $(i[++frame]).show();
});
$('#open').on('click', function() {
    window.open($('img:visible').attr('src'), '_blank');
});
</script>
</body>
</html>
