<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf8"/>
<script type="text/javascript" src="http://d3js.org/d3.v2.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<style type="text/css">
body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    display: inline;
}

div#controls {
    position:absolute;
    z-index:10;
}

div#chart {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

g.node circle {
    fill: rgb(255,255,255);
    stroke: rgb(0,0,0);
    stroke-width: 0.5;
    cursor: pointer;
}

g.node circle.selected {
    fill: rgb(51, 204, 51);
}

g.node circle.m,
g.pipe.m {
    fill: #4682B4;
}

g.node circle.f,
g.pipe.f {
    fill: #FFC0CB;
}

g.node circle.u,
g.pipe.u {
    fill: #808080;
}

g.node circle:hover,
g.node circle.m.selected,
g.node circle.f.selected,
g.node circle.u.selected {
    fill: rgb(51,204,51);
}

.bar rect {
    fill: steelblue;
    stroke: #fff;
    stroke-width: 0.25;
    cursor: pointer;
}

.bar text {
    fill: #fff;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 10px;
}

g.stripe line {
    stroke: #fff;
    stroke-width: 1;
}

g.stripe text {
    font-size: 14px;
    fill: #fff;
}

g.stripe rect {
    fill-opacity: 0;
}
</style>
</head>
<body>
<div id="controls">
<h1>Hubway Challenge Visualizations</h1>
<input type="button" value="Popular Bikes" onclick="reset(bubble);" />
<input type="button" value="Popularity Histogram" onclick="reset(histo);" />
<input id="mbtn" type="radio" name="gender" onclick="reset();" value="Male"/><label for="mbtn">M</label>
<input id="fbtn" type="radio" name="gender" onclick="reset();" value="Female"/><label for="fbtn">F</label>
<input id="ubtn" type="radio" name="gender" onclick="reset();" value=""/><label for="ubtn">?</label>
<input id="allbtn" type="radio" name="gender" onclick="reset();" checked="checked"/><label for="allbtn">All</label>
</div>
<div id="chart"></div>
<script type="text/javascript">
var h = document.body.clientHeight,
    w = document.body.clientWidth,
    margin = {top: 60, right: 25, bottom: 25, left: 25},
    width = w - margin.left - margin.right,
    height = h - margin.top - margin.bottom,
    vis = d3.select('#chart')
        .append('svg')
        .attr('width', w)
        .attr('height', h)
        .attr('loading', false);

/*
 * Resets the svg to blank. Cascades to 'callback'
 */
function reset(callback) {
    var mode = vis.attr('mode'),
        node = null
        xargs = [];
        
    if (!callback) {
        switch (mode) {
            case 'bike-histo': callback = histo; break;
            default: callback = bubble;
        }
    }
    
    if (mode == 'bike-bubble') {
        node = d3.selectAll('g.bubble');
    }
    else if (mode == 'bike-pipe') {
        node = d3.selectAll('g.pipe, g.stripe, g.volume');
    }
    else if (mode == 'bike-histo') {
        node = d3.selectAll('g.histo');
    }
    
    if (node) {
        for (var i = 1; i < arguments.length; i++) {
            xargs.push(arguments[i]);
        }
        node.transition()
            .duration(1000)
            .style('fill-opacity', 0)
            .style('stroke-opacity', 0)
            .remove()
            .each('end', function() { callback.apply(this, xargs); });
    }
};

function bubblecounts(url, offx, offy, cls) {
    var dfd = $.Deferred();
    
    d3.json(url, function(json) {
        var pack = d3.layout.pack()
                .sort(function(a,b){ return b.count - a.count; })
                .children(function(d){ return d.bikes; })
                .value(function(d){ return d.count; })
                .size([width/2,height/2])
                .padding(1.5),
            grp = vis.append('g')
                .attr('class', 'bubble')
                .attr('transform', 'translate(' + (offx+margin.left) + ',' + (offy+margin.top) + ')'),
            node = grp.selectAll('g.node')
                .data(pack.nodes(json)
                    .filter(function(d) { return !d.children; }))
                .enter()
                .append('g')
                .attr('class', 'node')
                .attr('transform', function(d) { 
                    return 'translate(' + d.x + ',' + d.y + ')';
                });
                
        node.append('title')
            .text(function(d) { return d.value; });

        node.append('circle')
            .attr('r', 0)
            .attr('class', cls)
            .transition()
            .duration(2000)
            .attr('r', function(d) { return d.r; });
            
        grp.transition()
            .duration(2000)
            .each('end', function() { dfd.resolve(); });

        vis.attr('loading', false);
    });
    
    return dfd;
};

/*
 * Load the counts of trips.
 */
function bubble(d) {
    if (vis.attr('loading') == 'true') return;
    vis.attr('mode', 'bike-bubble')
        .attr('loading', true);
    var extra = d3.select('input[name="gender"]:checked').attr('value'),
        r = ((width>height)?height:width)/4,
        dfd1 = bubblecounts('counts/?g=Male&l=75', r, 0, 'm'),
        dfd2 = bubblecounts('counts/?g=Female&l=75', width/2-r, 0, 'f'),
        dfd3 = bubblecounts('counts/?g=&l=75', width/4, height/2 * Math.cos(60*2/Math.PI), 'u');
        
    $.when(dfd1, dfd2, dfd3).then(function() {
        var node = d3.selectAll('g.node');
        
        node.on('mouseover', function(d1,i) {
            var node = vis.selectAll('g.node')
                    .select(function(d) { return (d.number == d1.number)?this:null; }),
                cir = node.select('circle');

            cir.classed('selected', true);
        });
    
        node.on('mouseout', function(d1,i) {
            var node = vis.selectAll('g.node')
                    .select(function(d) { return (d.number == d1.number)?this:null; }),
                cir = node.select('circle');
        
            cir.classed('selected', false);
        });
        
        node.on('click', function(d,i) {
            var node = vis.selectAll('g.node')
                .on('mouseover', null)
                .on('mouseout', null)
                .data([d], function(d) { return d.number; });
            
            node.exit()
                .transition()
                .duration(2000)
                .remove()
                .select('circle')
                .attr('r', 0);
            
            node.transition()
                .duration(2000)
                .each('end', loadpipe);
                
            vis.selectAll('g.bubble')
                .transition()
                .duration(2000)
                .style('fill-opacity', 0)
                .style('stroke-opacity', 0)
                .remove();
        });
/*
        if (d) {
            var selected = vis.selectAll('g.node')
                .data(d, function(d, i) { return d.number; });
            selected.select('circle')
                .transition()
                .duration(1000)
                .style('fill', 'steelblue');
        }
*/
    });
};

/* 
 * Show a histogram of bike trips.
 */
function histo() {
    if (vis.attr('loading') == 'true') return;
    vis.attr('mode', 'bike-histo')
        .attr('loading', true);
    var extra = d3.select('input[name="gender"]:checked').attr('value');
    extra = (extra !== null) ? ('?g=' + extra) : '';
    d3.json('counts/' + extra, function(json) {
        var x = d3.scale.linear()
                .domain([0, d3.max(json.bikes, function(d) { return d.count; })])
                .range([0,width]),
            data = d3.layout.histogram()
                .value(function(d){ return d.count; })
                .bins(x.ticks(20))
                (json.bikes),
            y = d3.scale.linear()
                .domain([0, d3.max(data, function(d) { return d.y; })])
                .range([height, 0]),
            xAxis = d3.svg.axis()
                .scale(x)
                .orient('bottom');
        
        var my_g = vis.append('g')
            .attr('class', 'histo')
            .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');
            
        var bar = my_g.selectAll('g.bar')
            .data(data)
            .enter()
            .append('g')
            .attr('class', 'bar')
            .attr('transform', function(d,i) { return 'translate(' + x(d.x) + ',' + height + ')'; })
            .on('click', function(d,i) {
                reset(bubble, d);
            });

        bar.transition()
            .duration(2000)
            .attr('transform', function(d,i) { return 'translate(' + x(d.x) + ',' + y(d.y) + ')'; });
            
        bar.append('rect')
            .attr('x', 1)
            .attr('height', 0)
            .attr('width', 1)
            .transition()
            .duration(2000)
            .attr('width', x(data[0].dx) - 1)
            .attr('height', function(d,i) { return height - y(d.y); });

        bar.append("text")
            .attr("dy", ".75em")
            .attr("y", 6)
            .attr("x", x(data[0].dx) / 2)
            .attr("text-anchor", "middle")
            .text(function(d) { return d.y; });
    
        my_g.append('g')
            .attr('class', 'x axis')
            .attr('transform', 'translate(0,' + height + ')')
            .call(xAxis);
            
        vis.attr('loading', false);
    });
};

/*
 * Turn one bike viz into a pipe of trips
 */
function loadpipe(d) {
    if (vis.attr('loading') == 'true') return;
    vis.attr('mode', 'bike-pipe')
        .attr('loading', true);
    var extra = d3.select('input[name="gender"]:checked').attr('value');
    extra = (extra !== null) ? ('?g=' + extra) : '';
    d3.json('trips/' + encodeURIComponent(d.number) + '/' + extra, function(json) {
        var min = new Date(json.trips[0].start).valueOf(),
            max = new Date(json.trips[json.trips.length-1].end).valueOf(),
            range = max-min,
            rowW = range / 20;
            
        var node = vis.selectAll('g.stripe')
            .data(d3.range(20))
            .enter()
            .append('g')
            .attr('class', 'stripe')
            .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');
            
        node.append('line')
            .attr('class', 'separator')
            .attr('x1', 0)
            .attr('x2', width)
            .attr('y1', function(d,i) { return d * height/20; })
            .attr('y2', function(d,i) { return d * height/20; })
            .transition()
            .delay(function(d,i) { return i * 100; })
            .style('stroke', 'rgb(204,204,204)');
 
        node.append('text')
            .attr('text-anchor', 'start')
            .text(function(d,i) {
                var date = new Date(min + i * rowW);
                return formatDate(date);
            })
            .attr('transform', function(d,i) {
                return 'translate(20,' + (i*height/20+height/33) + ')';
            })
            .transition()
            .delay(function(d,i) {
                return i * 100;
            })
            .style('fill', 'rgb(204,204,204)');
            
        node.append('text')
            .attr('text-anchor', 'end')
            .text(function(d,i) {
                var date = new Date(min + (i + 1) * rowW);
                return formatDate(date);
            })
            .attr('transform', function(d,i) {
                return 'translate(' + (width - 20) + ',' + (i*height/20+height/33) + ')';
            })
            .transition()
            .delay(function(d,i) {
                return i * 100;
            })
            .style('fill', 'rgb(204,204,204)');
            
        node = vis.selectAll('g.pipe')
            .data(json.trips)
            .enter()
            .append('g')
            .attr('class', 'pipe')
            .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');
            
        node.each(function(d,i) {
            d.a = new Date(d.start).valueOf();
            d.z = new Date(d.end).valueOf();
        });
        
        node.append('rect')
            .attr('width', function(d,i) {
                return (20*width)*(d.z-d.a)/range;
            })
            .attr('height', (height/20)-1)
            .attr('transform', function(d,i) { 
                var rowN = parseInt((d.a - min) / rowW, 10);
                return 'translate(' + ((20*width)*((d.a-min) % rowW)/range) + ',' + 
                    (rowN * height/20) + ')';
            });

        node.classed('m', function(d) { return d.gender == 'Male'; })
            .classed('f', function(d) { return d.gender == 'Female'; })
            .classed('u', function(d) { return d.gender == ''; })
            .transition()
            .duration(2000)
            .delay(function(d,i) {
                var rowN = parseInt((d.a - min) / rowW, 10);
                return rowN * 100; 
            })
            .style('fill-opacity', 1);
        
        vis.attr('loading', false);
    });

    d3.json('volume/' + encodeURIComponent(d.number) + '/' + extra, function(json) {
        var vlen = 10000, // not json.volume.length, some bins may be missing
            nstripes = 20,
            rowW = vlen / nstripes,
            ymin = d3.min(json.volume, function(d) { return d.n; }),
            ymax = d3.max(json.volume, function(d) { return d.n; }),
            node = vis.insert('g', 'g.pipe')
                .attr('class', 'volume')
                .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');

        node.selectAll('line')
            .data(json.volume)
            .enter()
            .append('line')
            .attr('x1', function(d,i) {
                return (d.b % rowW) * width / rowW;
            })
            .attr('x2', function(d,i) {
                return ((d.b % rowW) + 1) * width / rowW;
            })
            .attr('y1', function(d,i) {
                var rowN = parseInt(d.b / rowW, 10) + 1;
                return (rowN * height/20) - (d.n * (height/20) / ymax);
            })
            .attr('y2', function(d,i) {
                var rowN = parseInt(d.b / rowW, 10) + 1;
                return (rowN * height/20) - (d.n * (height/20) / ymax);
            })
            .style('stroke', '#999');

        node.style('stroke-opacity', 0)
            .transition()
            .duration(2000)
            .style('stroke-opacity', 1);
    });
};

function formatDate(date) {
    return (date.getMonth() + 1) + '/' + date.getDate() + '/' + date.getFullYear();
};

bubble();
</script>
</body>
</html>
