<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf8"/>
<script type="text/javascript" src="http://d3js.org/d3.v2.js"></script>
<style type="text/css">
g.node circle {
    fill: rgb(255,255,255);
    stroke: rgb(0,0,0);
    stroke-width: 0.5;
    cursor: pointer;
}
g.node circle.selected {
    fill: rgb(51, 204, 51);
}
</style>
</head>
<body>
<h1>Hello</h1>
<div>
<input type="button" value="Initialize" onclick="preload();" />
</div>
<div id="chart"></div>
<script type="text/javascript">
var r = 768,
    vis = d3.select('#chart')
        .append('svg')
        .attr('width', r)
        .attr('height', r),
    bubble = d3.layout.pack()
        .sort(function(a,b){ return b.count - a.count; })
        .children(function(d){ return d.bikes; })
        .value(function(d){ return d.count; })
        .size([r,r])
        .padding(1.5),
    loading = false;

/*
 * Preload sets up the load. Cascades to load.
 */
function preload() {
    d3.selectAll('g.node').remove();
    d3.selectAll('g.pipe-group').remove();
    d3.select(window).on('keydown', null);
    load();
};

/*
 * Load the counts of trips.
 */
function load() {
    if (loading) return;
    loading = true;
    d3.json('counts/', function(json) {
        var node = vis.selectAll('g.node')
                .data(bubble.nodes(json)
                    .filter(function(d) { return !d.children; }))
                .enter()
                .append('g')
                .attr('class', 'node')
                .attr('transform', function(d) { 
                    return 'translate(' + d.x + ',' + d.y + ')';
                });

        node.append('title')
            .text(function(d) { return d.value; });

        node.append('circle')
            .attr('r', function(d) { return d.r; });

        node.on('mouseover', function(d,i) {
            var node = d3.select(this);
        
            node.select('circle')
                .transition()
                .style('fill', 'rgb(51,204,51)');
        });
    
        node.on('mouseout', function(d,i) {
            var node = d3.select(this);
        
            node.select('circle')
                .transition()
                .style('fill', null);
        });
    
        node.on('click', function(d,i1) {
            var node = vis.selectAll('g.node')
                .on('mouseover', null)
                .on('mouseout', null)
                .on('click', pipe)
                .data([d], function(d) { return d.number; });
            
            node.exit()
                .transition()
                .duration(3000)
                .select('circle')
                .attr('r', 0)
                .remove();

            node.transition()
                .duration(2000)
                .attr('transform', 'translate(' + (r/2) + ',' + (r/2) + ')');
            
            node.select('circle')
                .attr('class', 'selected')
                .transition()
                .duration(2000)
                .attr('r', r / 3);
            
            node.append('text')
                .attr('text-anchor', 'middle')
                .attr('dominant-baseline', 'center')
                .attr('transform', 'translate(0,2.5)')
                .style('font-size', '5px')
                .text(d.value)
                .transition()
                .duration(2000)
                .attr('transform', 'translate(0,' + r/8 + ')')
                .style('font-size', r/3 + 'px');
        });
        
        loading = false;
    });
};

/*
 * Turn one bike viz into a pipe of trips
 */
function pipe(d,i) {
    var node = d3.select(this);
    node.transition()
        .duration(2000)
        .attr('transform', node.attr('transform') + ' scale(0,1)')
        .each('end', function(d) {
            loadpipe(d);
        });
};

function loadpipe(d) {
    if (loading) return;
    loading = true;
    d3.json('trips/' + d.number, function(json) {
        var node = vis.append('g')
            .attr('class', 'pipe-group')
            .attr('data-scroll', '0')
            .attr('data-scale', '1');
            
        node.append('rect')
            .attr('height', r/2)
            .attr('width', r*4)
            .style('fill', 'rgb(204,204,204)');
            
        node = node.selectAll('g.pipe')
            .data(json.trips)
            .enter()
            .append('g')
            .attr('class', 'pipe');
            
        node.each(function(d,i) {
            d.a = new Date(d.start).valueOf();
            d.z = new Date(d.end).valueOf();
        });
        
        var min = node[0][0].__data__.a,
            max = node[0][node[0].length-1].__data__.z,
            range = max-min;
        
        node.append('rect')
            .attr('width', function(d,i) { return (4*r)*(d.z-d.a)/range; })
            .attr('height', r/2)
            .attr('transform', function(d,i) { 
                return 'translate(' + ((4*r)*(d.a-min)/range) + ',0)';
            })
            .attr('fill', function(d,i) {
                if (d.gender == 'Female') return 'rgb(255,0,0)';
                if (d.gender == 'Male') return 'rgb(0,0,255)';
                return 'rgb(51,51,51)';
            });
            
        node.on('mouseover', function(d, i) {
                d3.select(this)
                    .append('text')
                    .attr('text-anchor', 'middle')
                    .style('font-size', '10px')
                    .text(new Date(d.start))
                    .attr('transform', 'translate(' + ((4*r)*(d.a-min)/range) + ',' + r/4 + ')')
                    .style('fill', 'rgb(255,255,255)');
            })
            .on('mouseout', function(d, i) {
                d3.select(this)
                    .select('text')
                    .remove();
            });
            
        d3.select(window).on('keydown', function() {
            var offset = 0, scale=1;
            switch (d3.event.keyCode) {
                case 37: offset = 25; break;
                case 39: offset = -25; break;
            }
            if (offset != 0) {
                var node = vis.select('g.pipe-group');
                
                offset = (parseInt(node.attr('data-scroll'), 10) + offset);
                scale = node.attr('data-scale');
                if (offset < -3*r) {
                    offset = -3*r;
                }
                else if (offset > 0) {
                    offset = 0;
                }
                node.attr('data-scroll', ''+offset)
                    .transition()
                    .attr('transform', 'translate(' + offset + ',0)scale(' + scale + ',1)')
            }
        });
        
        d3.select('g.pipe-group')
            .on('click', function() {
                var node = d3.select(this), offset, scale;
                offset = node.attr('data-scroll');
                scale = parseFloat(node.attr('data-scale'));
                if (d3.event.shiftKey)
                    scale /= 2;
                else
                    scale *= 2;
                node.attr('data-scale', ''+scale)
                    .transition()
                    .attr('transform', 'translate(' + offset + ',0)scale(' + scale + ',1)');
            });
        
        loading = false;
    });    
};

preload();
</script>
</body>
</html>
